.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
  transition: box-shadow var(--transition);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 60px) / 3);
  }
}

.projects__link {
  text-decoration: none;
}

@media screen and(min-width: 768px) {
  .projects__link {
    display: flex;
    flex-direction: column;
  }
}

/* =========================
OVERLAY
============================ */

.projects__overlay-thumb {
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.projects__overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  background-color: rgba(33, 150, 243, 0.9);

  opacity: 0;
  transform: translateY(100%);
  transition: transform var(--transition), opacity var(--transition);

  .projects__link:hover &,
  .projects__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}

.projects__overlay-text {
  max-width: 322px;

  color: var(--primary-white-color);

  font-size: 18px;
  line-height: 1.56;
}

/* =========================
END OVERLAY
============================ */

.projects__thumb {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .projects__thumb {
    flex-grow: 1;
  }
}

.projects__title {
  margin-bottom: 4px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects__text {
  color: var(--description-color);

  font-size: 16px;
  line-height: 1.88;
}
